.header-container {
  display: flex;
  align-items: center;

}
.header-container  a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo {
  max-height: 32px;
}
.title-group  {
  padding: 0 1rem;
}
.title-group  i {
  padding-right: 0.5rem;
}

