* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}
:root {
  --red: #e35e6b;
}

.msg-success {
  background: #28a745;
  color: #fff;
}
.msg-error {
  background: var(--red);
  color: #fff;
}

